In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Keywords.csv')
df.head()

,keyword,Arithmetic Operators,Logical Operators,Bitwise Operators,Other Operators
0,auto,+,==,&,","
1,break,-,>,|,{
2,case,*,<,^,}
3,char,/,!=,~,(
4,const,=,>=,<<,)

In [15]:
file = """
int a , b , c ;
float d , e ;
a = b = 5 ;
c = 6 ;
if ( a > b )
{
    c = a - b ;
    e = d - 2.0 ;
}
else
{
    d = e + 6.0 ;
    b = a + c ;
}


"""
# Output:
# Keywords: int, float, if, else
# Identifiers: a, b, c, d, e
# Math Operators: +, -, =
# Logical Operators: >
# Numerical Values: 5, 6, 2.0, 6.0
# Others: , ; ( ) { }

In [16]:
keyword = df['keyword'].dropna().values
math_oprator = df['Arithmetic Operators'].dropna().values
logical = df['Logical Operators'].dropna().values
bitwise = df['Bitwise Operators'].dropna().values
other = df['Other Operators'].dropna().values

In [5]:
inputs = file.split()

In [17]:
def symbol_table (inputs):    
    k = []
    m = []
    l = []
    b = []
    o = []
    n = []
    i = []
    f = []
    
    for data in inputs:
        if data in keyword:
            if data not in k:
                k.append(data)
        elif data in math_oprator:
            if data not in m:
                m.append(data)
        elif data in logical:
            if data not in l:
                l.append(data)
        elif data in bitwise:
            if data not in b:
                b.append(data)
        elif data in other:
            if data not in o:
                o.append(data)
        else:
            try:
                num = int(data)
                if num not in n:
                    n.append(num)
            except:
                try:
                    num = float(data)
                    if num not in f:
                        f.append(num)
                except:
                    if data not in i:
                        i.append(data)
    
    outputs = {
        'Keywords': k,
        'Identifiers' : i,
        'Math Operators' : m,
        'Logical Operators' : l + b,
#         'Bitwise Operators' : b,
        'Numerical Values' : n + f,
        'Others' : o
    }
    
    return outputs

In [18]:
table = symbol_table(inputs=inputs)

In [19]:
df1 = pd.DataFrame([table], columns=table.keys())
df1

,Keywords,Identifiers,Math Operators,Logical Operators,Numerical Values,Others
0,"[int, float, if, else]","[a, b, c, d, e]","[=, -, +]",[>],"[5, 6, 2.0, 6.0]","[,, ;, (, ), {, }]"

In [20]:
for i in table:
    print(i, table[i])

Keywords ['int', 'float', 'if', 'else']
Identifiers ['a', 'b', 'c', 'd', 'e']
Math Operators ['=', '-', '+']
Logical Operators ['>']
Numerical Values [5, 6, 2.0, 6.0]
Others [',', ';', '(', ')', '{', '}']